bert-score
editdistance
flair
filelock
language_tool_python
lemminflect
lru-dict
datasets
nltk
numpy
pandas
scipy
torch
transformers
terminaltables
tqdm
word2number
num2words
more-itertools
pinyin
jieba
OpenHowNet
Levenshtein